<a href="https://colab.research.google.com/github/evaie/evaie/blob/main/process_reperes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Find Mattieu's file and read it into a dataframe

In [1]:
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

# authenticate the user
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

Once authenticated, list the files

In [21]:
# Auto-iterate through all files that matches this query
#file_list = drive.ListFile({'q': "'root' in parents and title contains 'Champs' and trashed=false"}).GetList()
#sharedWithMe=true 
# id = 1VJMXVNSxIv4li8yK7pXZ3sitWEdC8z-93z_Apkl77_Q
file_list = drive.ListFile({'q': "sharedWithMe=true and trashed=false and title contains '2021 - repères d'"}).GetList()
for file1 in file_list:
  print('title: %s, id: %s' % (file1['title'], file1['id']))

title: 2021 - repères d'intensité, id: 1VJMXVNSxIv4li8yK7pXZ3sitWEdC8z-93z_Apkl77_Q

once the id of the spreadsheet retrieved, load it. 
But first, we need to be allowed Gspread  / GSheet to access to our data.

In [24]:
from google.colab import auth
auth.authenticate_user()

import gspread
from oauth2client.client import GoogleCredentials

gc = gspread.authorize(GoogleCredentials.get_application_default())

Then load, the data into a dataframe.

In [27]:
sh = gc.open_by_key('1VJMXVNSxIv4li8yK7pXZ3sitWEdC8z-93z_Apkl77_Q')
worksheet = sh.get_worksheet(0)
# get_all_values gives a list of rows.
rows = worksheet.get_all_values()
print(rows)

import pandas as pd
pd.DataFrame.from_records(rows)

[['', '', '', '', '', '', '', '', '', '', ''], ['', '', '', '', '', '', '', '', '', '', ''], ['Nom', 'Prénom', 'Catégorie', 'Record Ergo', 'Distance', 'Sec / 500', 'Watts', 'Objectif Watts bateau (0,85)', 'FTP', 'Watts B1', 'Watts B2'], ['Boccanfuso', 'Inès', 'SFPL', '07:22,50', '2000', '110,63', '259', '220', '', '132', '165'], ['Morizot', 'Aurélie', 'SFPL', '07:15,00', '2000', '108,75', '272', '231', '', '139', '173'], ['Quenneville', 'Florian', 'SHTC', '06:16,50', '2000', '94,13', '420', '357', '', '214', '268'], ['Gely', 'Axel', 'SHTC', '06:31,80', '2000', '97,95', '372', '317', '', '190', '237'], ['De Villers ', 'Louis', 'SHPL', '06:39,90', '2000', '99,98', '350', '298', '', '179', '223'], ['Ferrière', 'Mathys', 'SHPL', '06:34,00', '2000', '98,50', '366', '311', '', '187', '233'], ['Schwendenwein', 'Vincent', 'SHTC', '06:34,50', '2000', '98,63', '365', '310', '', '186', '233'], ['Macre', 'Philippe', 'SHTC', '06:44,20', '2000', '101,05', '339', '288', '', '173', '216'], ['Dore', 'Maxime', 'SHPL', '06:40,60', '2000', '100,15', '348', '296', '', '178', '222'], ['Le Levreur ', 'Jean', 'SHPL', '06:47,00', '2000', '101,75', '332', '282', '', '169', '212'], ['Marchal', 'Louis', 'J18H', '06:37,10', '2000', '99,28', '358', '304', '', '182', '228'], ['Lecomte ', 'Adrien', 'J18H', '06:38,70', '2000', '99,68', '353', '300', '', '180', '225'], ['Bara Butez', 'Yohan', 'J18H', '06:29,20', '2000', '97,30', '380', '323', '', '194', '242']]

               0         1          2   ...   8         9         10
0                                       ...
1                                       ...
2             Nom    Prénom  Catégorie  ...  FTP  Watts B1  Watts B2
3      Boccanfuso      Inès       SFPL  ...            132       165
4         Morizot   Aurélie       SFPL  ...            139       173
5     Quenneville   Florian       SHTC  ...            214       268
6            Gely      Axel       SHTC  ...            190       237
7     De Villers      Louis       SHPL  ...            179       223
8        Ferrière    Mathys       SHPL  ...            187       233
9   Schwendenwein   Vincent       SHTC  ...            186       233
10          Macre  Philippe       SHTC  ...            173       216
11           Dore    Maxime       SHPL  ...            178       222
12    Le Levreur       Jean       SHPL  ...            169       212
13        Marchal     Louis       J18H  ...            182       228
14       Lecomte     Adrien       J18H  ...            180       225
15     Bara Butez     Yohan       J18H  ...            194       242

[16 rows x 11 columns]